﻿@model Archeologia.Repository.Models.MapPointViewModel

    <div id="modalDetails" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:80%;">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div class="">
        <div class="modal-title" style="position:center; margin-left:45%">
            <h4>@Html.DisplayFor(model => model.Miejscowosc)</h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Miejscowosc)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Miejscowosc)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NumerStanowiska)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NumerStanowiska)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Gmina)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Gmina)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Powiat)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Powiat)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Wojewodztwo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Wojewodztwo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Funkcja)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Funkcja)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Kultura)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Kultura)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Chronologia)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Chronologia)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Autor)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Autor)
                </dd>
            </dl>
            <div class="row">
                <div class="col-md-4">
                    <form asp-controller="Upload" asp-action="Index" asp-route-id="new { id = @Model.Id) }">
                        <button style="margin:2px" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-camera"></span> Zdjęcia </button>
                    </form>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-info" style="margin:2px" asp-action="Details" asp-controller="GisData" asp-route-id="@Model.Id" data-target="#modalDetails" data-toggle="modal"><span class="glyphicon glyphicon-ice-lolly"></span>Więcej</a>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>