﻿@model Archeologia.Repository.Models.MapPoint

    @{ 
        var id = ViewData["id"];
    }

<div class="">
    <div class="modal-title" style="position:center">
        <h4>Dodaj nowy punkt</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input type="hidden" asp-for="@id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Geometria" class="control-label"></label>
                        <input asp-for="Geometria" class="form-control" />
                        <span asp-validation-for="Geometria" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="A" /> @Html.DisplayNameFor(model => model.A)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="T" /> @Html.DisplayNameFor(model => model.T)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="X" /> @Html.DisplayNameFor(model => model.X)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="N" /> @Html.DisplayNameFor(model => model.N)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="W" /> @Html.DisplayNameFor(model => model.W)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="P" /> @Html.DisplayNameFor(model => model.P)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="L" /> @Html.DisplayNameFor(model => model.L)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Miejscowosc" class="control-label"></label>
                        <input asp-for="Miejscowosc" class="form-control" />
                        <span asp-validation-for="Miejscowosc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumerStanowiska" class="control-label"></label>
                        <input asp-for="NumerStanowiska" class="form-control" />
                        <span asp-validation-for="NumerStanowiska" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gmina" class="control-label"></label>
                        <input asp-for="Gmina" class="form-control" />
                        <span asp-validation-for="Gmina" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Powiat" class="control-label"></label>
                        <input asp-for="Powiat" class="form-control" />
                        <span asp-validation-for="Powiat" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Wojewodztwo" class="control-label"></label>
                        <input asp-for="Wojewodztwo" class="form-control" />
                        <span asp-validation-for="Wojewodztwo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AzpObszar" class="control-label"></label>
                        <input asp-for="AzpObszar" class="form-control" />
                        <span asp-validation-for="AzpObszar" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AzpStanowiska" class="control-label"></label>
                        <input asp-for="AzpStanowiska" class="form-control" />
                        <span asp-validation-for="AzpStanowiska" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NazwaLokalna" class="control-label"></label>
                        <input asp-for="NazwaLokalna" class="form-control" />
                        <span asp-validation-for="NazwaLokalna" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumerDzialki" class="control-label"></label>
                        <input asp-for="NumerDzialki" class="form-control" />
                        <span asp-validation-for="NumerDzialki" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Identyfikator" class="control-label"></label>
                        <input asp-for="Identyfikator" class="form-control" />
                        <span asp-validation-for="Identyfikator" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Wlasciciel" class="control-label"></label>
                        <input asp-for="Wlasciciel" class="form-control" />
                        <span asp-validation-for="Wlasciciel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Jednostka" class="control-label"></label>
                        <input asp-for="Jednostka" class="form-control" />
                        <span asp-validation-for="Jednostka" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Luzny" /> @Html.DisplayNameFor(model => model.Luzny)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Zwiezly" /> @Html.DisplayNameFor(model => model.Zwiezly)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Torfbagn" /> @Html.DisplayNameFor(model => model.Torfbagn)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="OkreslenieSpecjalistyczne" class="control-label"></label>
                        <input asp-for="OkreslenieSpecjalistyczne" class="form-control" />
                        <span asp-validation-for="OkreslenieSpecjalistyczne" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Niezabudowany" /> @Html.DisplayNameFor(model => model.Niezabudowany)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="SrednioZabudowany" /> @Html.DisplayNameFor(model => model.SrednioZabudowany)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Zabudowany" /> @Html.DisplayNameFor(model => model.Zabudowany)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="PoleOrne" /> @Html.DisplayNameFor(model => model.PoleOrne)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Nieuzytek" /> @Html.DisplayNameFor(model => model.Nieuzytek)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Laka" /> @Html.DisplayNameFor(model => model.Laka)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Sad" /> @Html.DisplayNameFor(model => model.Sad)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Park" /> @Html.DisplayNameFor(model => model.Park)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Las" /> @Html.DisplayNameFor(model => model.Las)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Torf" /> @Html.DisplayNameFor(model => model.Torf)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Bagno" /> @Html.DisplayNameFor(model => model.Bagno)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Woda" /> @Html.DisplayNameFor(model => model.Woda)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Funkcja" class="control-label"></label>
                        <input asp-for="Funkcja" class="form-control" />
                        <span asp-validation-for="Funkcja" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Kultura" class="control-label"></label>
                        <input asp-for="Kultura" class="form-control" />
                        <span asp-validation-for="Kultura" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Chronologia" class="control-label"></label>
                        <input asp-for="Chronologia" class="form-control" />
                        <span asp-validation-for="Chronologia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Opis" class="control-label"></label>
                        <input asp-for="Opis" class="form-control" />
                        <span asp-validation-for="Opis" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="ObserwacjaUtrudniona" /> @Html.DisplayNameFor(model => model.ObserwacjaUtrudniona)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="BezPrzeszk" /> @Html.DisplayNameFor(model => model.BezPrzeszk)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="PoleOtwarte" /> @Html.DisplayNameFor(model => model.PoleOtwarte)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="PoleZamkniete" /> @Html.DisplayNameFor(model => model.PoleZamkniete)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="NasycenieRownomierne" /> @Html.DisplayNameFor(model => model.NasycenieRownomierne)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="NasycenieJednocentryczne" /> @Html.DisplayNameFor(model => model.NasycenieJednocentryczne)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="NasycenieWielocentryczne" /> @Html.DisplayNameFor(model => model.NasycenieWielocentryczne)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Powierzchnia" class="control-label"></label>
                        <input asp-for="Powierzchnia" class="form-control" />
                        <span asp-validation-for="Powierzchnia" class="text-danger"></span>  @*//DROP BOX*@
                    </div>
                    <div class="form-group">
                        <label asp-for="Gestosc" class="control-label"></label>
                        <input asp-for="Gestosc" class="form-control" />
                        <span asp-validation-for="Gestosc" class="text-danger"></span> @*//DROP BOX*@
                    </div>
                    <div class="form-group">
                        <label asp-for="Zagrozenia" class="control-label"></label>
                        <input asp-for="Zagrozenia" class="form-control" />
                        <span asp-validation-for="Zagrozenia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Inwentaryzacja" /> @Html.DisplayNameFor(model => model.Inwentaryzacja)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Badania" /> @Html.DisplayNameFor(model => model.Badania)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Interwencja" /> @Html.DisplayNameFor(model => model.Interwencja)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumerRejestru" class="control-label"></label>
                        <input asp-for="NumerRejestru" class="form-control" />
                        <span asp-validation-for="NumerRejestru" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataRejestru" class="control-label"></label>
                        <input asp-for="DataRejestru" class="form-control" />
                        <span asp-validation-for="DataRejestru" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="ParkKulturowy" /> @Html.DisplayNameFor(model => model.ParkKulturowy)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="PlanZagospodarowania" /> @Html.DisplayNameFor(model => model.PlanZagospodarowania)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataOpracowania" class="control-label"></label>
                        <input asp-for="DataOpracowania" class="form-control" />
                        <span asp-validation-for="DataOpracowania" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Autor" class="control-label"></label>
                        <input asp-for="Autor" class="form-control" />
                        <span asp-validation-for="Autor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Konsultant" class="control-label"></label>
                        <input asp-for="Konsultant" class="form-control" />
                        <span asp-validation-for="Konsultant" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="KonsultantAzp" class="control-label"></label>
                        <input asp-for="KonsultantAzp" class="form-control" />
                        <span asp-validation-for="KonsultantAzp" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AkceptacjaWkz" class="control-label"></label>
                        <input asp-for="AkceptacjaWkz" class="form-control" />
                        <span asp-validation-for="AkceptacjaWkz" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MiejscowoscData" class="control-label"></label>
                        <input asp-for="MiejscowoscData" class="form-control" />
                        <span asp-validation-for="MiejscowoscData" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Miejsce" class="control-label"></label>
                        <input asp-for="Miejsce" class="form-control" />
                        <span asp-validation-for="Miejsce" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumerInwentarza" class="control-label"></label>
                        <input asp-for="NumerInwentarza" class="form-control" />
                        <span asp-validation-for="NumerInwentarza" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Dokumentacja" class="control-label"></label>
                        <input asp-for="Dokumentacja" class="form-control" />
                        <span asp-validation-for="Dokumentacja" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Literatura" class="control-label"></label>
                        <input asp-for="Literatura" class="form-control" />
                        <span asp-validation-for="Literatura" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
                <div>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
</div>

