﻿@model Archeologia.Repository.Models.MapPoint

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

<style>
    .row > div {
        border-top: solid 0.5px black;
        margin-bottom: 2px;
        margin-top: 2px;
    }
</style>
<div class="">
    <div class="col-lg-8" style="background-color:white; width:85%">
        <div class="row">
            <br />
        </div>
        <div class="row">
            <div class="pull-right">
                <div class="col-md-1">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.A)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.A)
                        </dd>
                        <dt>
                            (T)@Html.DisplayNameFor(model => model.T)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.T)
                        </dd>
                        <dt>
                            (X)@Html.DisplayNameFor(model => model.X)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.X)
                        </dd>
                        <dt>
                            (N)@Html.DisplayNameFor(model => model.N)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.N)
                        </dd>
                        <dt>
                            (W)@Html.DisplayNameFor(model => model.W)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.W)
                        </dd>
                        <dt>
                            (P)@Html.DisplayNameFor(model => model.P)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.P)
                        </dd>
                        <dt>
                            (L)@Html.DisplayNameFor(model => model.L)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.L)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Lokalizacja</h3>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Miejscowosc)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Miejscowosc)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NumerStanowiska)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NumerStanowiska)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Gmina)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Gmina)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Powiat)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Powiat)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Wojewodztwo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Wojewodztwo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AzpObszar)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AzpObszar)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AzpStanowiska)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AzpStanowiska)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NazwaLokalna)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NazwaLokalna)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NumerDzialki)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NumerDzialki)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Identyfikator)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Identyfikator)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Wlasciciel)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Wlasciciel)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <h3>Położenie fizycznogeograficzne</h3>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Jednostka)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Jednostka)
                    </dd>
                    <dt>
                        Strefa nadmorska(nadzalewowa)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.A)
                    </dd>
                    <dt>
                        Duże doliny
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.P)
                    </dd>
                    <dt>
                        Małe doliny
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.P)
                    </dd>
                    <dt>
                        Strefa poza dolinami
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.P)
                    </dd>
                    <dt>
                        Teren nieeksponowany
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.X)
                    </dd>
                    <dt>
                        Teren eksponowany
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.A)
                    </dd>
                    <dt>
                        Teren osłonięty
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.X)
                    </dd>

                </dl>
            </div>
            <div class="col-md-4">
                <h3>Utwór geologiczny</h3>
                <div class="row">
                    <div class="col-md-4">
                        <b>@Html.DisplayNameFor(model => model.Luzny)</b>
                        @Html.DisplayFor(model => model.Luzny)
                    </div>
                    <div class="col-md-4">
                        <b>@Html.DisplayNameFor(model => model.Zwiezly)</b>
                        @Html.DisplayFor(model => model.Zwiezly)
                    </div>
                    <div class="col-md-4">
                        <b>@Html.DisplayNameFor(model => model.Torfbagn)</b>
                        @Html.DisplayFor(model => model.Torfbagn)
                    </div>
                </div>
                <div class="row">
                    <b>@Html.DisplayNameFor(model => model.OkreslenieSpecjalistyczne)</b>
                    @Html.DisplayFor(model => model.OkreslenieSpecjalistyczne)
                </div>
                <h3>Dostępność terenu</h3>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Niezabudowany)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Niezabudowany)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.SrednioZabudowany)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SrednioZabudowany)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Zabudowany)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Zabudowany)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PoleOrne)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PoleOrne)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Nieuzytek)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Nieuzytek)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Laka)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Laka)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Sad)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Sad)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Park)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Park)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Las)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Las)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Torf)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Torf)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Bagno)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Bagno)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Woda)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Woda)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3 style="position:center">Klasyfikacja funkcjonalno-kulturowo-chronologiczna stanowiska</h3>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.Funkcja)</h4>
                @Html.DisplayFor(model => model.Funkcja)
            </div>
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.Kultura)</h4>
                @Html.DisplayFor(model => model.Kultura)
            </div>
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.Chronologia)</h4>
                @Html.DisplayFor(model => model.Chronologia)
            </div>
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.Opis)</h4>
                @Html.DisplayFor(model => model.Opis)
            </div>
        </div>
        <div class="row">
            <br />
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>Opis obszaru stanowiska</h3>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ObserwacjaUtrudniona)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ObserwacjaUtrudniona)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.BezPrzeszk)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BezPrzeszk)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PoleOtwarte)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PoleOtwarte)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PoleZamkniete)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PoleZamkniete)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NasycenieRownomierne)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NasycenieRownomierne)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NasycenieJednocentryczne)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NasycenieJednocentryczne)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NasycenieWielocentryczne)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NasycenieWielocentryczne)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Powierzchnia)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Powierzchnia)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Gestosc)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Gestosc)
                    </dd>
                </dl>
            </div>
            <div class="col-md-3">
                <h3>Zagrożenia</h3>
                @Html.DisplayFor(model => model.Zagrozenia)
            </div>
            <div class="col-md-3">
                <div class="row">
                    <h3>Wnioski konserwatorskie</h3>
                </div>
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Inwentaryzacja)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Inwentaryzacja)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Badania)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Badania)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Interwencja)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Interwencja)
                        </dd>
                    </dl>
                </div>
            </div>
                <div class="col-md-3">
                    <div class="row">
                        <h3>Aktualna ochrona</h3>
                    </div>
                    <div class="row">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.NumerRejestru)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.NumerRejestru)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.DataRejestru)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DataRejestru)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ParkKulturowy)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ParkKulturowy)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.PlanZagospodarowania)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.PlanZagospodarowania)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Opracowanie karty ewidencyjnej</h3>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DataOpracowania)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DataOpracowania)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Autor)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Autor)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Konsultant)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Konsultant)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.KonsultantAzp)
                    </dt>
                </dl>
            </div>
            <div class="col-md-4">
                <h3>Weryfik.Konserw.</h3>
                <dl class="dl-horizontal">
                    <dd>
                        @Html.DisplayFor(model => model.KonsultantAzp)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AkceptacjaWkz)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AkceptacjaWkz)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.MiejscowoscData)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MiejscowoscData)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <h3>Zbiory i nr inwent.</h3>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Miejsce)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Miejsce)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NumerInwentarza)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NumerInwentarza)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>@Html.DisplayNameFor(model => model.Dokumentacja)</h3>
                @Html.DisplayFor(model => model.Dokumentacja)
            </div>
            <div class="col-md-6">
                <h3>@Html.DisplayNameFor(model => model.Literatura)</h3>
                @Html.DisplayFor(model => model.Literatura)
            </div>
        </div>
        <div class="row">
            <div id="gallery"></div>
        </div>
        <div class="row" style="border: none">
            <div class="col-md-1"></div>
            <div class="col-md-1">
                <a class="btn btn-success" asp-controller="Edit" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-info" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
        <div class="row">
            <br />
        </div>
    </div>
</div>

        <script>
    $.get('@Url.Action("_Gallery", "Upload")', { id: @Model.Id}, function (content) {
        $("#gallery").html(content);
    });
        </script>
