﻿@model IEnumerable<Archeologia.Repository.Models.MapPointViewModel>


<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Zamknij</button>
        </div>
    </div>
</div>

<div id="modalDetails" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="modalEdit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Miejscowosc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumerStanowiska)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gmina)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Powiat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Wojewodztwo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Autor)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Miejscowosc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumerStanowiska)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gmina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Powiat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wojewodztwo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Details" asp-controller="GisData" asp-route-id="@item.Id" data-target="#modalDetails" data-toggle="modal">Więcej</a>
                        <a class="btn btn-primary" asp-action="_Gallery" asp-controller="Upload" asp-route-id="@item.Id" data-target="#modal-container" data-toggle="modal">Zdjęcia</a>
                        <a class="btn btn-warning" style="margin:2px" asp-controller="Edit" asp-action="Edit" asp-route-id="@item.Id" data-target="#modalEdit" data-toggle="modal">Edytuj</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
    <div class="col-lg-2"></div>
</div>