﻿@model IEnumerable<Archeologia.Repository.Models.Upload>
@{
    ViewData["Title"] = "Index";
    var id = ViewData["id"];
}

<ul style="list-style:none;" class="row">
    @foreach (var item in Model)
    {
        <li class="col-md-4">
            <br />
            <img src="@Url.Action("Download", "Upload", new { filename = item.FileName })" style="width:80%;height:80%;" />
            <br />
            <label>@item.FileName</label>
            <br />
            <br />
        </li>
    }
</ul>