﻿@{
    ViewData["Title"] = "Index";
    var id = ViewData["id"];
}

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

<div id="gallery"></div>
<script>

    $.get('@Url.Action("_Gallery", "Upload")', {id : @id}, function(content){
            $("#gallery").html(content);
        });
</script>

<form method="post" asp-action="Upload" asp-controller="Upload" asp-route-id="@id" enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <input type="submit" value="Dodaj zdjęcia" />
</form>

<div>
    <form asp-controller="GisData" asp-action="List">
        <button class="btn btn-sm btn-info" type="submit"><span class="glyphicon glyphicon-zoom-in"></span> Powrót do listy</button>
    </form>
</div>

