﻿@model Geometry

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v4.6.4/build/ol.js" type="text/javascript"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

<style>
    .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        width: 180px;
    }

        .ol-popup:after, .ol-popup:before {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .ol-popup:after {
            border-top-color: white;
            border-width: 10px;
            left: 48px;
            margin-left: -10px;
        }

        .ol-popup:before {
            border-top-color: #cccccc;
            border-width: 11px;
            left: 48px;
            margin-left: -11px;
        }

    .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
    }

        .ol-popup-closer:after {
            content: "✖";
        }

    .popover-content {
        min-width: 200px;
    }
    .select-style {
        border: 1px solid #ccc;
        width: 150px;
        border-radius: 3px;
        overflow: hidden;
    }

        .select-style select {
            padding: 5px 8px;
            width: 130%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
        }

            .select-style select:focus {
                outline: none;
            }
</style>



<div class="row" style="margin-top:4px; margin-bottom:4px">
    <div class="col-md-6">
        <form class="form-inline">
            <label> &nbsp;</label>
            <select id="type" size="4" class="select-style">
                <option value="Cluster">Standard</option>
                <option value="None">Informacje</option>
                <option value="Create">Dodawanie</option>
                <option value="Polygon">Tereny Badawcze</option>
            </select>
        </form>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <input id="search" type="text" placeholder="Search">
            <div class="btn btn-default" id="submitButton"></div>
        </div>
    </div>
</div>

<div id="map"></div>

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog" style="background-color:white; width:500px; height: 350px; position:center">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="createModal" class="modal fade" tabindex="-1" role="dialog" style="background-color:white; width:1000px; height:800px; position:center">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Zamknij</button>
        </div>
    </div>
</div>


<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content">
        <button id="createButton" type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-container"> <span class="glyphicon glyphicon-plus"></span> Dodaj nowy punkt</button>
    </div>
</div>

<script>
    jQuery('#submitButton').click(function () {
        var url = "/Map/Search/" + $('#search').val();
        debugger;
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (result) {
                    var view = new ol.View({
                        center: ol.proj.fromLonLat([result]),
                        zoom: 10
                    });
                }
            })
        });

    var scaleLineControl = new ol.control.ScaleLine();

    var baseMap = new ol.layer.Tile({
        source: new ol.source.OSM()
    });

    var model = '@Html.Raw(Json.Serialize(Model.Points))';
    var geometries = JSON.parse(model);

    var wktReader = new ol.format.WKT();
    var featureCollection = [];

    for (var i = 0; i < geometries.length; i++)
    {
        var feature = wktReader.readFeature(geometries[i]);
        feature.getGeometry().transform('EPSG:4326', 'EPSG:3857');

        feature.setStyle(new ol.style.Style(
            {
                image: new ol.style.Circle({
                    radius: 12,
                    stroke: new ol.style.Stroke({
                        color: '#fff'
                    }),
                    fill: new ol.style.Fill({
                        color: '#3399CC'
                    })
                })
            }));

        feature.setId(i + 1);
        console.log(feature.getId());
        featureCollection.push(feature);
    }

    var modelTwo = '@Html.Raw(Json.Serialize(Model.Polygons))';
    var polygons = JSON.parse(modelTwo);

    var polygonsCollection = [];

    for (var i = 0; i < polygons.length; i++)
    {
        var feature = wktReader.readFeature(polygons[i]);
        feature.getGeometry().transform('EPSG:4326', 'EPSG:3857');
        console.log(feature);

        feature.setStyle(new ol.style.Style({
            stroke: new ol.style.Stroke({
                color: 'red',
                width: 1
            }),
            fill: new ol.style.Fill({
                color: 'rgba(255, 0, 0, 0.1)'
            })
        })
        );

        feature.setId(i+1);
        polygonsCollection.push(feature);
    }

    var source = new ol.source.Vector({
        features: featureCollection
    });

    var vectorLayer = new ol.layer.Vector({
        source: source,
        visible: false
    });

    var clusterSource = new ol.source.Cluster({
        distance: 150,
        source: source
    });

    var styleCache = {};
    var clusters = new ol.layer.Vector({
        source: clusterSource,
        style: function (feature) {
            var size = feature.get('features').length;
            var style = styleCache[size];
            if (!style) {
                style = new ol.style.Style({
                    image: new ol.style.Circle({
                        radius: 12,
                        stroke: new ol.style.Stroke({
                            color: '#fff'
                        }),
                        fill: new ol.style.Fill({
                            color: '#3399CC'
                        })
                    }),
                    text: new ol.style.Text({
                        text: size.toString(),
                        fill: new ol.style.Fill({
                            color: '#fff'
                        })
                    })
                });
                styleCache[size] = style;
            }
            return style;
        }
    });

    var polygonSource = new ol.source.Vector({
        features: polygonsCollection,
        wrapX: false
    });

    var polygonVector = new ol.layer.Vector({
        source: polygonSource
    });

    var map = new ol.Map({
        target: 'map',
        controls: ol.control.defaults({
            attributionOptions: {
                collapsible: false
            }
        }).extend([
            scaleLineControl
        ]),
        layers: [
            baseMap,
            polygonVector,
            clusters,
            vectorLayer
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([19.445462, 52.152458]),
            zoom: 7
        })
    });

    var popup = new ol.Overlay({
        element: document.getElementById('popup')
    });
    map.addOverlay(popup);

    var closer = document.getElementById('popup-closer');

    closer.onclick = function () {
        popup.setPosition(undefined);
        closer.blur();
        return false;
    };

    var addDrawEventListeners = function(draw) {
        draw.addEventListener('drawend', function (drawResult) {
            var geometry = drawResult.feature.getGeometry();

        var cordinates = geometry.getCoordinates();

        if (cordinates && cordinates.length) {

            var polygon = cordinates[0];
            polygon.push(polygon[0]);
            var cordinatesStr =  polygon.map(function (cords) {
                return cords[0] + " " + cords[1];
            }).join();
            
            var data = {
                Geometria: cordinatesStr,
            };

            var url = "GisData/CreatePolygon/";
            console.log(url);
            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data: data,
                success: function (response) {
                },
                error: function () {
                    alert("Content load failed.");
                },
            });
        }
        });
    }
    
    var typeSelect = document.getElementById('type');

    var draw;
    function addInteraction() {
        var value = typeSelect.value;
        console.log(value);
        if (value == 'None') {
            vectorLayer.setVisible(true);
            clusters.setVisible(false);
            map.on('click', function (e) {
                var element = popup.getElement();
                var coordinate = e.coordinate;

                var feature = map.forEachFeatureAtPixel(e.pixel,
                    function (feature, layer) {
                        return feature;
                    });

                if (feature) {
                    var url = "GisData/About/" + feature.getId();
                    console.log(url);
                    $(element).popover('destroy');
                    $.ajax({
                        type: "GET",
                        url: url,
                        contentType: "application/json; charset=utf-8",
                        dataType: "html",
                        success: function (response) {
                            $('#modal-container').html(response);
                            $('#modal-container').modal('show');
                        },
                        error: function () {
                            alert("Content load failed.");
                        },
                    });
                }
            });
        } else if (value == 'Create') {
            map.on('click', function (e) {
                var element = popup.getElement();
                var coordinate = e.coordinate;

                $(element).popover('destroy');
                popup.setPosition(coordinate);
                var position = ol.coordinate.toStringHDMS(ol.proj.transform(coordinate, 'EPSG:3857', 'EPSG:4326'));
                $(element).popover({
                    'placement': 'right',
                    'animation': false,
                    'html': true,
                    'content': position
                });

                $("#createButton").click(function () {
                    $(element).popover('destroy');
                    $.ajax({
                        type: "GET",
                        url: "/GisData/Create",
                        contentType: "application/json; charset=utf-8",
                        dataType: "html",
                        success: function (response) {
                            console.log(coordinate);
                            $('#createModal').html(response);
                            $('#createModal').find("input#Geometria").val(coordinate[0] + " " + coordinate[1]);
                            $('#createModal').modal('show');
                        },
                        error: function () {
                            alert("Content load failed.");
                        }
                    });
                });
                $(element).popover('show');
            });
        } else if (value == 'Polygon') {
            draw = new ol.interaction.Draw({
                source: polygonSource,
                type: typeSelect.value
            });
            map.addInteraction(draw);
            console.log(draw);

            addDrawEventListeners(draw);
        } else if (value == 'Cluster') {
            vectorLayer.setVisible(false);
            clusters.setVisible(true);
        }
    }

    typeSelect.onchange = function () {
        map.removeInteraction(draw);
        addInteraction();
    };

    addInteraction();

</script>