﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner5.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

<div class="row" style="background-color:black; height:150px;">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <h3 style="color:white;"><i>"Archeologowie -tropiciele historii- kluczą pośród rozrzucownych na Pomorzu starych cmentarzysk, odnajdują gliniane naczynia, metalowe ozdoby, poznają materialną kulturę ludzi, co żyli tu przed wiekami"</i></h3>
        <p class="pull-right" style="color:white;" >Zbigniew Nienacki, "Skarb Atanaryka"</p>
    </div>
    <div class="col-md-2"></div>
</div>
